html {
  background-color: rgb(47, 119, 61);
  margin: 0;
}

body {
  text-align: center;
  overflow-y: scroll;
  background-color: rgb(47, 119, 61);
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom right, rgb(47, 119, 61), white);
  font-family: monospace;
  margin: 0;
}

input {
  padding: 8px;
  border-radius: 2px;
  border-radius: 14%;
  margin: 5px;
}

button {
  text-transform: uppercase;
  border: 1px solid black;
  background-color: rgb(47, 119, 61);
  padding: 8px;
  border-radius: 14%;
}

h1 {
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: rgba(88, 88, 88, 0.315);
  font-size: 10vh;
  padding: 5vh !important;
  margin: 0;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  margin: 30px;
  margin-bottom: 0;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie-list > div {
  transition: 1.5s;
}
.movie-list > div > li {
  transition: 1.5s;
}
.movie-list > .movie {
  display: grid;
  grid-template: 1fr / 1fr;

  margin: 15px 30px 134px 30px;
  border: 5px solid rgba(47, 119, 61, 0.514);
  padding: 5px;
}
.posterdiv {
  display: grid;
  grid-template: 1fr / 1fr;

  margin: 15px 30px 15px 30px;
  border: 5px solid rgba(47, 119, 61, 0.514);
  padding: 5px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.movie-list > div > img {
  grid-area: 1/1/2/2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 245px;
  width: 190px;
}
.description {
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  list-style: none;
  width: 182px;
  padding: 4px;
  height: 110px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 127px;
}
.posterli {
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.199);
  list-style: none;
  width: 182px;
  padding: 4px;
  height: 110px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 245px;
}
p {
  color: rgb(0, 0, 0);
  transition: 1.5s;
}
.description > p {
  color: rgba(0, 0, 0, 0);
}
